.header {
    background: orange;
    padding: 15px 0;
  
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__logo {
      font-size: 28px;
      font-weight: 700;
  
      a {
        color: #fff;
      }
    }
  
    &__menu {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }
  
      li {
        margin: 0 10px;
      }
  
      a {
        color: #fff;
        font-weight: 600;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
  
        &.active,
        &:hover {
          background: #FF5722;
        }
      }
    }
  
    &__account {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }
  
      li {
        margin-left: 20px;
      }
  
      a {
        color: #fff;
        font-weight: 600;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 5px;
  
        &.active,
        &:hover {
          background: #FF5722;
        }
      }
    }
  }